:root {
  /*z-index层级*/
  --content: 0; /*内容层*/
  --nav: 1; /*底部导航层*/
  --header: 2; /*头部层，因为有的页面只有头部，没有底部导航栏，所以将nav和header层做出区分*/
  --mask: 3; /*遮罩层*/
  --popout: 4; /*弹出层，配合遮罩层使用*/

  /*颜色*/
  --soul-background-color: #fff; /* 白色。背景颜色 */
  --soul-box-shadow-color: #D6D6D6; /* 浅浅的灰色。header和nav的阴影颜色 */
  --soul-font-disabled-color: #A6A6A6; /* 淡灰色。不可选中的文字，如底部导航栏、广场顶部header、预览聊天记录、时间戳等 */
  --soul-font-enabled-color: #000; /* 黑色。可选中的文字，如瞬间、聊天顶部header */

  /*模糊距离*/
  --soul-box-shadow-blur: 0.35rem;
}